docs/n8n/workflows/scheduled-report-ultraclean.json
{
  "name": "Uderia Scheduled Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "1",
      "name": "Daily at 8 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tda.uderia.com/api/v1/sessions"
      },
      "id": "2",
      "name": "Create Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://tda.uderia.com/api/v1/sessions/{{ $json.session_id }}/query",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"prompt\": \"Generate a daily inventory report showing all products with quantity below 10 units\"}"
      },
      "id": "3",
      "name": "Submit Report Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "4",
      "name": "Wait for Processing",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://tda.uderia.com/api/v1/tasks/{{ $json.task_id }}"
      },
      "id": "5",
      "name": "Get Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "const result = $json.result || {};\nconst answer = result.final_answer_text || result.final_answer || 'No report generated';\nreturn { json: { report: answer, tokens: (result.turn_input_tokens || 0) + (result.turn_output_tokens || 0) } };"
      },
      "id": "6",
      "name": "Format Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Daily at 8 AM": {
      "main": [
        [
          {
            "node": "Create Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Session": {
      "main": [
        [
          {
            "node": "Submit Report Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Report Query": {
      "main": [
        [
          {
            "node": "Wait for Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Processing": {
      "main": [
        [
          {
            "node": "Get Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Report": {
      "main": [
        [
          {
            "node": "Format Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
